<!-- 页脚样式 -->
<div class="footer-image" id="footerStyle1" style="display: none;"></div>
<footer id="footerStyle2" style="display: none;">
    <footer-background>
        <figure class="clouds"></figure>
        <figure class="background"></figure>
        <figure class="foreground"></figure>
    </footer-background>
</footer>
<div class="footer-box">
    <!-- 标语 -->
    <div class="footer-text" style="display: ##textShow##">
        [ ##textLeft##
        <span class="footer-text-icon">
            <span class="iconfont ##iconFont##"
                style="color: ##iconColor##;font-size: ##iconSize##;"></span>
        </span>
        ##textRight## ]
    </div>
    <!-- 运行时间 -->
    <div>
        <span id="blogRunTimeSpan"></span>
        <span class="my-face">ღゝ◡╹)ノ♡</span>
    </div>
    <!-- 友情链接 -->
    <div id="linksHtml" style="display: ##linkShow##">##linksHtml##</div>
    <!-- CNZZ -->
    <div id="cnzzInfo" style="display: none;">
        ##cnzzHtml##
    </div>
    <!-- footerText -->
    <div>
        ##footerText##
        <a href="https://typecho.org/" style="margin-left: 5px" target="_blank">
            <svg style="width: 16px;height: 16px;vertical-align: -4px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" height="26px" viewBox="0 0 30 26" version="1.1">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">

                    <path d="M13,26 C3.36833333,26 0,22.631 0,13 C0,3.36866667 3.36833333,0 13,0 C22.6316667,0 26,3.36866667 26,13 C26,22.631 22.6316667,26 13,26 Z M6,9 L20,9 L20,7 L6,7 L6,9 Z M6,14 L16,14 L16,12 L6,12 L6,14 Z M6,19 L18,19 L18,17 L6,17 L6,19 Z" id="icon" fill="#000000" sketch:type="MSShapeGroup"></path>
                </g>
            </svg>
        </a>
        <a href="https://www.easybe.org/" target="_blank">
            <span>Theme by easybe</span>
        </a>
    </div>
    <div><span id="gonganbeian" style="display: none"><a href="##gonganbeianLink##">##gonganbeian##</a> | </span><span id="beian" style="display: none"><a href="https://beian.miit.gov.cn/">##beian##</a></span></div>
</div>
<script type="text/javascript" async="" src="//at.alicdn.com/t/c/font_3628204_br29bzmhrps.js"></script>

