<div class="dropdown">
    <a id="nav_host" href="" target="_self">
        <i class="iconfont icon-home-fill"></i>首页
    </a>
</div>
<div class="dropdown">
    <a id="nav_connect" href="" target="_blank">
        <i class="iconfont icon-zhifeiji"></i>联系
    </a>
</div>

<div class="dropdown">
    <a id="nav_rss" href="" target="_blank">
        <i class="iconfont icon-keaide"></i>订阅
    </a>
</div>

<div class="dropdown">
    <a id="nav_manage" href="" target="_blank">
        <i class="iconfont icon-shezhi-fill"></i>管理
    </a>
</div>
